
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Main Page</h2>
<h3>You can access only a controller starting with "Admin" using this route constraint (/AdminPanel), if that makes any sense (To me it doesn't)</h3>
