
@{
    ViewBag.Title = "ActivateSpecialPower";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

    <style>

        .rainbow-footer {

            color: pink;
        }
    </style>
}

<h2 class="text-success">@ViewBag.Title</h2>
<h3 class="text-danger">May the unicorns be with ya!</h3>
<div class="container well well-lg">
    <img class="media-object col-md-3" height="200" src="http://sjreisner.com/wp-content/uploads/2013/02/pink-unicorn.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://www.arbgames.com.au/images/T/300P%20Magical%20Unicorn.JPG" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://www.angelbabies.net/images/theyoungunicorn.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://hivewallpaper.com/wallpaper/2015/01/magical-unicorns-39-desktop-wallpaper.jpg" alt="Magical Unicorn" />
</div>
<div class="container well well-lg">
    <img class="media-object col-md-3" height="200" src="http://hivewallpaper.com/wallpaper/2015/01/magical-unicorns-19-cool-hd-wallpaper.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://hivewallpaper.com/wallpaper/2015/01/magical-unicorns-5-background-wallpaper.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://www.bookmice.net/darkchilde/quizzes/unicornme.JPG" alt="Magical" />
    <img class="media-object col-md-3" height="200" src="http://images2.fanpop.com/images/photos/7800000/Unicorns-magical-creatures-7841390-1280-800.jpg" alt="Magical Unicorn" />
</div>
<div class="container well well-lg">
    <img class="media-object col-md-3" height="200" src="http://images2.fanpop.com/images/photos/7800000/Unicorns-magical-creatures-7842114-1280-800.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://images2.layoutsparks.com/1/98718/unicorns-requested-magical-animal.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://hivewallpaper.com/wallpaper/2015/01/magical-unicorns-1-high-resolution-wallpaper.jpg" alt="Magical Unicorn" />
    <img class="media-object col-md-3" height="200" src="http://www.tabletwallpapers.net/wallpapers/magic_unicorn-1920x1200.jpg" alt="Magical Unicorn" />
</div>

@section FooterSection {

    <h1 class="rainbow-footer">
        Rainbow footeeeeeeeeeeeeeeeeeeeeeeeeeeer
    </h1>
}
